# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Editor
.vscode/
.idea/
*.swp

# Tests
coverage/

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.local

# EAS
.easignore


# other
STRUKTUR_APLIKASI.md